@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&display=swap");
body {
  margin: 0px;
  padding: 0px;
  background: url("img/bg1.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: "Baloo Bhaijaan 2", "cursive";
  color: white;
}
.header {
  display: flex;
  align-items: center;
  padding-left: 1%;
}
.left {
  /* position: relative;
  left: 60px; */
  text-align: center;
  font-size: 1.3em;
  line-height: 19px;
}

/* .mid {
  display: block;
  margin: 28px auto;
} */

/* .right {
  display: inline-block;
  position: absolute;
  right: 24px;
  top: 42px;
} */

.navbar {
  display: inline-block;
  margin: auto;
}
.navbar li {
  display: inline-block;
  font-size: 1.5em;
}
.navbar li a {
  color: white;
  text-decoration: none;
  padding: 34px 12px;
}
.navbar li a:hover,
.navbar li a:active {
  text-decoration: underline;
  color: #d1caca;
}
.left img {
  width: 60px;
  filter: invert(100%);
}
.btn {
  margin: 0px 4px;
  color: white;
  background-color: black;
  padding: 0px 14px;
  border: 2px solid gray;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Baloo Bhaijaan 2", "cursive";
}
.btn:hover {
  background-color: rgb(31, 30, 30);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  margin: 56px 88px;
  padding: 48px;
  width: 33vw;
  border-radius: 28px;
}
.form-group input {
  font-family: "Baloo Bhaijaan 2", "cursive";
  text-align: center;
  display: block;
  width: 80%;
  padding: 2px;
  border: 2px solid black;
  border-radius: 8px;
  margin: 8px auto;
  font-size: 20px;
}
.container h1 {
  text-align: center;
  font-size: 24px;
}
.container button {
  display: block;
  width: 80%;
  margin: 16px auto;
  font-size: 20px;
  padding: 2px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
